.edu-section {
    padding: 60px 20px;
}
.edu-card {
    max-width: 720px;
    margin: 30px auto;
    padding: 30px;
    text-align: center;
    border-radius: 12px;
    background-color: #ffffff;
    border: 2px solid #410000; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.edu-card h3 {
    font-size: 22px;
    color: #67140c;
    margin-bottom: 10px;
}

.year {
    font-style: italic;
    color: #474444;
    margin-bottom: 10px;
}

.edu-card p {
    font-size: 16px;
    color: #000000;
}

.edu-list {
    text-align: justify;
    padding-left: 25px;
}

.edu-list li {
    margin-bottom: 10px;
    line-height: 1.7;
}