.skills-wrapper {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-category {
    background: #FBF4ED; 
    border-left: 5px solid #670909; 
    padding: 30px;
    border-radius: 12px;
    width: 500px;
}

.skills-category h3 {
    color: #670909;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
}

.skills-category ul {
    list-style: none;
    padding: 0;
}

.skills-category ul li {
    padding: 8px 0;
    border-bottom: 1px solid #430404;
    font-size: 18px;
}

.skills-category ul li:last-child {
    border-bottom: none;
}
