body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f5f7fa;
    color: #333;
}

section {
    padding: 60px 20px;
}

h2 {
    text-align: center;
    font-size: 34px;
    margin-bottom: 30px;
    color: var(--primary);
}

.hero {
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
                url('../assets/hero.jpg') center/cover no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero h1 span {
    color: var(--accent);
}

.hero p {
    font-size: 22px;
    max-width: 650px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background: var(--primary);
    color: var(--white);
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: var(--secondary);
}

.footer {
    background-color:hsl(337, 91%, 22%);
    color: white;
    padding: 15px;
    text-align: center;
}